@model BrowseViewModel
@{
    ViewData["Title"] = "Browse and download pictures!";
    var last = Model.Categories.Last();
}
<label>Select category:</label><br />
<a href="/">All |</a>
@foreach (var category in Model.Categories)
{
    if (category.Equals(last))
    {
        <a asp-route-categoryName="@category.Name">@category.Name</a>
    }
    else
    {
        <a asp-route-categoryName="@category.Name">@category.Name</a><span> |</span>
    }
}
<hr />
@if (Model.Pictures.Count() == 0)
{
    <h5>There are no pictures in this category</h5>
}
else
{
    <h5>Recent pictures:</h5>
}
<div class="row">
    @foreach (var picture in Model.Pictures)
    {
        <div class="col-md-4 text-center">
            <a data-toggle="modal" href="#p_@picture.Id"><img class="img-fluid" src="~/pictures/@picture.FileName" /></a><br /><br />
            <a class="btn btn-success" href="~/pictures/@picture.FileName" download><i class="fas fa-download"></i> Download</a>
            <button type="button" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add to basket</button><br /><br />
        </div>
        <div class="modal fade" id="p_@picture.Id">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <a class="btn btn-success" href="~/pictures/@picture.FileName" download><i class="fas fa-download"></i> Download</a>
                        <button type="button" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add to basket</button>
                        <button type="button" class="btn btn-danger"><i class="fas fa-exclamation-circle"></i> Report</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                        <hr />
                        <img class="img-fluid" src="~/pictures/@picture.FileName" /><br />
                        <b>Category: </b>@Model.Categories.Where(x => x.Id.Equals(picture.CategoryId)).SingleOrDefault()?.Name<br />
                        <b>Tags:</b> @picture.Tags<br />
                        <b>Exif: </b>zzz
                    </div>
                </div>
            </div>
        </div>
    }
</div>